<h1>Home</h1>

<section>
  <details>
    <summary role="button">Search</summary>
    <%= render "search_form",
    departure_airport_options: @departure_airport_options,
    date_options: @date_options,
    arrival_airport_options: @arrival_airport_options %>
  </details>
</section>

<% if @flights.present? %>
  <section>
    <h2>Search Results</h2>
    <%= render "search_result_form",
    search_results: @flights,
    number_of_tickets: @number_of_tickets %>
  </section>
<% else %>
  <p>Welcome! Please search for your flight.</p>
<% end %>
